/* ------------------------------------------- HTML Styles ------------------------------------------- */
html {
  scroll-behavior: smooth;
  /* overflow:visible; */
}
/* ------------------------------------------- Body Styles ------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* ------------------------------------------ Navbar Styles ------------------------------------------ */
.nav {
  display: flex;
  place-items: center;
  flex-direction: column;
}
.navigation {
  position: fixed;
  top: 8%;
  background: #ecb365;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: 0.5s;
  z-index: 10;
}
.navigation img {
  padding-top: 2.5%;
  padding-bottom: 2%;
  max-width: 20%;
  max-height: 20%;
}
.navigation ul {
  display: flex;
  padding: 0%;
}
.navigation ul li {
  padding-top: 0.8rem;
  position: relative;
  list-style: none;
  width: 80px;
  height: 40px;
  z-index: 1;
}
.navigation ul li a {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: 100%;
  font-weight: 500;
  color: #064663;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  font-size: 2.5em;
  text-align: center;
  transition: 0.5s;
  color: #064663;
}
.navigation ul li.active a .icon {
  transform: translateY(-35px);
  color: #4e9f3d;
}
.navigation ul li a .text {
  position: absolute;
  color: #041c32;
  padding: 5px 7px;
  border-radius: 12px;
  background: #4e9f3d;
  font-weight: 400;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
}
.navigation ul li.active a .text {
  opacity: 1;
}
.indicator {
  position: absolute;
  top: -30%;
  width: 80px;
  height: 80px;
  background: #ecb365;
  border-radius: 25%;
  transition: 0.5s;
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(80px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(80px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(80px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(80px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(80px * 4));
}
@media only screen and (max-width: 600px) {
}
/* ------------------------------------------- Home Styles ------------------------------------------- */
.home {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100vh;
  color: #4e9f3d;
  background: #041c32;
}
.home h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.25rem;
}
.home .autotyper {
  color: #ecb365;
}
.home .desc {
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .stressed {
  font-size: x-large;
  color: #ecb365;
}
@media only screen and (max-width: 750px) {
  .home h1 {
    font-size: 2rem;
    letter-spacing: 0.15rem;
  }
  .home .desc {
    font-size: small;
  }
  .home .stressed {
    font-size: large;
  }
}
/* ----------------------------------------- Profile Styles ----------------------------------------- */
.profile {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #041c32;
  color: #4e9f3d;
  padding-right: 8rem;
  padding-left: 8rem;
  width: auto;
  height: 100vh;

  z-index: 5;
}
.profile .titimg {
  padding: 0%;
  margin: 0%;
}

.profile .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100%;
}
.profile .title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
  background: #4e9f3d;
  color: #041c32;
  font-size: 2.5rem;
  border-radius: 1rem;
  transition: 0.5s;
  transform-origin: top;
  transform: scaleY(0);
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.profile .title h1[data-scroll="in"] {
  transform: scaleY(1);
  position: relative;
  z-index: 0;
}
.profile .title h1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ecb365;
  border-radius: 1rem;
  transition: 0.5s;
  transform-origin: top;
}
.profile .title h1[data-scroll="in"]:before {
  transform: scaleY(0);
  transition-delay: 0.5s;
}
.profile .image {
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile img {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 20%;
}
.profile .desc {
  padding: 5%;
  transition: 1s;
  padding-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  transition: 0.5s;
  transform: translateX(0);
  opacity: 0;
}
.profile .desc[data-scroll="in"] {
  transform: translateX(30px);
  transition-delay: 0.5s;
  opacity: 1;
}
@media only screen and (max-width: 950px) {
  .profile {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 10%;
    width: auto;
    height: 100vh;
  }
  .profile .title h1 {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.5rem;
    border-radius: 1rem;
  }
  .profile img {
    width: 80%;
    height: 80%;
  }
  .profile .desc {
    padding: 0%;
    font-size: 0.8rem;
  }
  .profile .desc[data-scroll="in"] {
    transform: translateX(0);
  }
}
/* ----------------------------------------- career Styles ----------------------------------------- */
.career {
  background: #041c32;
  color: #950101;
  padding-right: 8rem;
  padding-left: 8rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

/* ----------------------------------------- Ability Styles ----------------------------------------- */

.ability {
  margin: 0%;
  padding: 0%;
  padding-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #041c32;
  color: #4e9f3d;
  padding-right: 8rem;
  padding-left: 8rem;
  width: auto;
  height: 100vh;
  gap: 20px;
  flex-wrap: wrap;
}
.ability .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ability .box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 300px;
  margin: 5%;
  background: #064663;
  border-radius: 15%;
}

.ability .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #041c32;
  transition: 0.5s;
  border-radius: 15%;
  z-index: 2;
}
.ability .box:hover .icon {
  top: 30px;
  background: #ecb365;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.ability .box .icon ion-icon {
  font-size: 5em;
  color: #4e9f3d;
}
.ability .box:hover .icon ion-icon {
  font-size: 2.5em;
  color: #064663;
}

.ability .box .content {
  position: relative;
  padding: 20px;
  color: #ecb365;
  text-align: center;
  margin-top: 80px;
  z-index: 1;
}

.ability .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100%;
}
.ability .title h1 {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
  background: #ecb365;
  color: #041c32;
  font-size: 2.5rem;
  border-radius: 1rem;
  transition: 0.5s;
  transform-origin: top;
  transform: scaleY(0);
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.ability .title h1[data-scroll="in"] {
  transform: scaleY(1);
  position: relative;
  z-index: 0;
}
.ability .title h1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4e9f3d;
  border-radius: 1rem;
  transition: 0.5s;
  transform-origin: top;
}
.ability .title h1[data-scroll="in"]:before {
  transform: scaleY(0);
  transition-delay: 0.5s;
}
/* ----------------------------------------- Contact Styles ----------------------------------------- */
.contact {
  background: #041c32;
  color: #950101;
  padding-right: 8rem;
  padding-left: 8rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  max-width: 100%;
}
/* ----------------------------------------- Footer Styles ----------------------------------------- */
.foo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: #ecb365;
  padding: 10px 25px;
  flex-direction: column;
}
.foo .foolist,
.foo .foomenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  flex-wrap: wrap;
  padding: 0%;
}
.iconlist {
  padding-top: 30px;
}
.foo .foolist li,
.foo .foomenu li {
  list-style: none;
}
.foo .foolist li a {
  font-size: 2em;
  color: #064663;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.foo .foolist li a:hover {
  transform: translateY(-15px);
  color: #4e9f3d;
}
.foo .foomenu li a {
  font-size: 1em;
  color: #064663;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  opacity: 0.2;
  text-decoration: none;
}
.foo .foomenu li a:hover {
  opacity: 1;
  color: #4e9f3d;
}
.foo .wave {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100%;
  height: 80px;
  background: #041c32 url(images/wave.png);
  background-size: 1000px 100px;
}
.foo .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave1 3s linear infinite;
}
.foo .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave2 3s linear infinite;
}
.foo .wave#wave3 {
  z-index: 1000;
  opacity: 0.25;
  bottom: 15px;
  animation: animateWave1 2s linear infinite;
}
.foo .wave#wave4 {
  z-index: 999;
  opacity: 0.75;
  bottom: 20px;
  animation: animateWave2 2s linear infinite;
}
@keyframes animateWave1 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
footer p {
  padding: 0%;
  color: #064663;
  text-align: center;
  margin-top: 10px;
  font-size: 0.7em;
  opacity: 0.8;
}
@media only screen and (max-width: 600px) {
  .foo .foolist li a {
    font-size: 1.5em;
    margin: 0 8px;
  }
  .foo .foomenu li a {
    font-size: 0.75em;
    margin: 0 8px;
  }
}
/* ---------------------------------------------- END --------------------------------------------- */
